.rushness_slider__container {
  display: flex;
  justify-content: space-evenly;
  width: 20rem;
  align-items: center;
}

.rushness_slider__input {
  flex: 5;
  margin-left: 1rem;
}

.rushness_slider__label {
  flex: 1;
  display: flex;
  justify-content: end;
}
