.clock__simulation {
  display: flex;
  flex-direction: column;
  grid-area: 2/1 / span 1 / span 1;
  border: 2px dashed hsl(var(--hue-color), 74%, 70%, 100%);
  border-radius: 4px;
  padding: 1.5rem;
}

.clock__simulation__title {
  text-align: left;
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.clock__simulation_content {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.range-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 12px;
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow: -2px -2px 8px white, 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style:focus {
  outline: none;
}

.range-style::-webkit-slider-runnable-track {
  display: flex;
  align-items: center;
  height: 8px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  top: -60%;
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.range-style::-moz-range-track {
  display: flex;
  align-items: center;
  height: 8px;
  border-radius: 10px;
  box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.range-style::-moz-range-thumb {
  position: relative;
  border: none;
  top: -60%;
  width: 20px;
  height: 20px;
  background-color: #e0e0e0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.8),
    transparent
  );
  border-radius: 50%;
  box-shadow: -1px -1px 2px white, 1px 1px 2px rgba(0, 0, 0, 0.3);
}
