.clock__configuration {
  display: grid;
  grid-template: 4rem 4rem repeat(5, 3rem) / 1fr;
  border: 2px dashed hsl(240, 94%, 90%, 100%);
  border-radius: 4px;
  padding: 1.5rem;
}

.clock__configuration__title {
  text-align: center;
  font-size: var(--big-font-size);
  color: var(--title-color);
}

.checkbox_item .checkbox_wrap {
  position: relative;
  display: block;
  cursor: pointer;
}

.checkbox_item:last-child .checkbox_wrap {
  margin-bottom: 0;
}

.checkbox_item .checkbox_wrap .checkbox_inp {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.checkbox_item .checkbox_wrap .checkbox_mark {
  display: inline-block;
  position: relative;
  border-radius: 25px;
}

.checkbox_item .checkbox_wrap .checkbox_mark:before,
.checkbox_item .checkbox_wrap .checkbox_mark:after {
  content: "";
  position: absolute;
  transition: all 0.5s ease;
}

/* basic styles */
.checkbox_item.citem_1 .checkbox_wrap .checkbox_mark {
  background: hsl(0, 25%, 85%);
  width: 50px;
  height: 25px;
}

.checkbox_item.citem_1 .checkbox_wrap .checkbox_mark:before {
  top: 0.1rem;
  left: 0.1rem;
  width: 1.4rem;
  height: 1.4rem;
  background: #fff;
  border-radius: 50%;
}

.checkbox_item.citem_1 .checkbox_wrap .checkbox_inp:checked ~ .checkbox_mark {
  background: #34bfa3;
}

.checkbox_item.citem_1
  .checkbox_wrap
  .checkbox_inp:checked
  ~ .checkbox_mark:before {
  left: 1.6rem;
}

/* skewed styles */
.checkbox_item.citem_3 .checkbox_wrap .checkbox_mark {
  width: 70px;
  height: 40px;
  padding: 2px;
  border-radius: 0;
  transform: skew(-10deg);
  overflow: hidden;
}

.checkbox_item.citem_3 .checkbox_wrap .checkbox_mark:before,
.checkbox_item.citem_3 .checkbox_wrap .checkbox_mark:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

.checkbox_item.citem_3 .checkbox_wrap .checkbox_mark:before {
  content: "12h";
  background: hsl(0, 57%, 48%);
}

.checkbox_item.citem_3 .checkbox_wrap .checkbox_mark:after {
  content: "24h";
  left: -70px;
  background: hsl(168, 57%, 48%);
}

.checkbox_item.citem_3
  .checkbox_wrap
  .checkbox_inp:checked
  ~ .checkbox_mark:after {
  left: 0;
}

.checkbox_item.citem_3
  .checkbox_wrap
  .checkbox_inp:checked
  ~ .checkbox_mark:before {
  left: 70px;
}
