.clock__circle {
  border-style: dashed;
  border-color: hwb(208 94% 0%);
  position: relative;
  width: 260px;
  height: 260px;
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock__content {
  padding-top: 1rem;
  align-self: flex-start;
  row-gap: 2rem;
  justify-items: center;
  grid-area: 1/1 / span 1 / span 1;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
  position: absolute;
  width: 1.5rem;
  height: 1px;
  background-color: var(--first-color);
}

.clock__twelve,
.clock__six {
  transform: rotate(90deg);
}

.clock__twelve {
  top: 1.25rem;
}

.clock__three {
  right: 0.75rem;
}

.clock__six {
  bottom: 1.25rem;
}

.clock__nine {
  left: 0.75rem;
}

.clock__rounder {
  width: 0.95rem;
  height: 0.95rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solid var(--body-color);
  z-index: var(--z-tooltip);
}

.clock_rounder__shadow_visible {
  background-color: gray;
}

.clock__hour,
.clock__minutes,
.clock__seconds,
.clock__letters {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hour {
  width: 105px;
  height: 140px;
}

.clock__hour::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 5.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__minutes {
  width: 136px;
  height: 186px;
}

.clock__minutes::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 6.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__seconds {
  width: 130px;
  height: 200px;
}

.clock__seconds::before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 0.125rem;
  height: 7.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.shadow::before {
  background-color: var(--text-color-light);
}

.clock__letters {
  top: 5rem;
  left: 6rem;
  font-weight: 600;
}

.clock__letters::before {
  content: "RC";
  position: absolute;
  z-index: var(--z-normal);
}
