.rush_clock_type {
  font-size: 1.5rem;
  letter-spacing: -0.1rem;
  margin: 1rem 0;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  background: #e5e5e5;
}
.tabs__input {
  position: absolute;
  opacity: 0;
}
.tabs__label {
  flex: 1;
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}
.tabs__label:hover {
  background: #d8d8d8;
}
.tabs__label:active {
  background: #ccc;
}
.tabs__input:focus + .tabs__label {
  z-index: 1;
}
.tabs__input:checked + .tabs__label {
  background: #fff;
  color: #000;
}
.tabs__panel {
  display: none;
  height: 20rem;
  padding: 20px 30px 30px;
  background: #fff;
  order: 99;
}
.tabs__input:checked + .tabs__label + .tabs__panel {
  display: block;
}

.tabs__panel p {
  margin-top: 20px;
}
